@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0a0b0f;
  color: #e6f0ff;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #12141a;
}

::-webkit-scrollbar-thumb {
  background: #1a1c23;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3385ff;
}